<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
    <title>incursion</title>

</head>
<body class="bg-dark p-2 text-dark bg-opacity-25">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- logo -->
    <a class="navbar-brand" href="/secret"><img src="img/logo.png" width="30" height="30"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- link -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Waitlists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="communities">Communities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="guides">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="support">Starter/Upgrade-Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="lp">LP Trade</a>
            </li>
        </ul>
    </div>
    <!-- language selector -->
    <select class="selectpicker d-flex p-2 bg-light" data-width="fit" id="language">
        <option class="bg-light" value="ENG">English</option>
        <option class="bg-light" value="CN">中文</option>
    </select>
</nav>

<div class="container mt-4">
    <!-- Content for the Monitor page -->
    <div id="support">
        <div class="container" id="ENG">
            <div class="card mb-3 ">
                <div class="card-header bg-success bg-gradient bg-opacity-25"><b>Beginner Ship Support - Rent-n-Relax</b></div>
                <div class="card-body">
                    <p class="card-text">
                        Powered by the Contingency, introduced by the provious TOP. Pay a deposit, and there will be a ship ready for you at the nearest trade hub.
                        If you don't wanna move, just pay a small fee and it will be there for you / return it at focus. When you're upgrading to a better ship, the deposit is fully
                        returned minus the rental fee (30m per focus, which is a single site payout).
                    </p>
                    <a href="https://wiki.contingencyinc.com/guides/rnri-rental">More Info Here.</a>
                    <p>Staff Contact(discord): sashapanther</p>
                    <p>Staff Contact(discord): halbrad</p>

                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-info bg-gradient bg-opacity-25"><b>Fully Supported Community - AO19</b></div>
                <div class="card-body">
                    <p class="card-text">
                        Fully incursion focused corp. You will receive
                        <em>
                            <p> Free ammo / booster refill on focus </p>
                            <p> Incursion Implants at lowest price (one set per toon) </p>
                            <p> Fly with current FC </p>
                            <p> Ship / Upgrade / LSI rental and loans </p>
                        </em>
                        and more. However, our goal is to help players at any stage become an <b>ELITE</b> that is welcomed to fly in any communities, if you just wanna multibox with cheap ships and
                        never upgrade - please seek other helps.
                    </p>
                    <p>Staff Contact(discord): yasilverdragon</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-info bg-gradient bg-opacity-25"><b>Logistic - Push X</b></div>
                <div class="card-body">
                    <p class="card-text">
                        They're not really an incursion group, but a famous Hauling group. Any destination, including islands, they all do the job for you. In fact, they've helped communities to
                        get necessary ships into island spawns multiple times in a short time so we can rage pop the spawn. So if in doubt - try push X ?
                    </p>
                    <a href="https://www.pushx.net/">More Info Here.</a>
                </div>
            </div>
        </div>
        <!-- CN -->
        <div class="container" id="CN">
            <div class="card mb-3 ">
                <div class="card-header bg-success bg-gradient bg-opacity-25"><b>新手租船服务 - Rent-n-Relax</b></div>
                <div class="card-body">
                    <p class="card-text">
                        CI社区运营，面向新手，交保证金后可在四族交易中心领取。如果需要挪船 / 在交易中心外的地方归还要缴纳一定服务费。
                        租船费用 - 3千万/点，归还后从押金中扣除。
                    </p>
                    <a href="https://wiki.contingencyinc.com/guides/rnri-rental">More Info Here.</a>
                    <p>联系方式(discord): sashapanther</p>
                    <p>联系方式(discord): halbrad</p>

                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-info bg-gradient bg-opacity-25"><b>国语入侵军团 - 肃正19</b></div>
                <div class="card-body">
                    <p class="card-text">
                        全套服务，包括：
                        <em>
                            <p> 免费弹药 / 增效剂补给 </p>
                            <p> 成本价入侵脑插（一人限一套） </p>
                            <p> 现任FC指导 </p>
                            <p> 新手船 / 升级 / 脑浆 租借和借款 </p>
                        </em>
                        我们的目的是培养一些所有社区都愿意接受的精英飞行员，如果你只是想开5个新手船刷钱，请不要打扰。
                    </p>
                    <p>联系方式：QQ群 1018749427，备注入侵</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-info bg-gradient bg-opacity-25"><b>物流 - Push X</b></div>
                <div class="card-body">
                    <p class="card-text">
                        广为人知的物流服务，有点贵但绝对可靠，曾多次帮助入侵社区在24小时内挪船到孤岛。
                    </p>
                    <a href="https://www.pushx.net/">More Info Here.</a>
                </div>
            </div>
        </div>

    </div>


</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/language.js"></script>

</body>
</html>
